/* GLOBAL.CSS */

@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300);

/*-----------
THEME
-----------*/
.ui-body-c, 
.ui-body-c input, 
.ui-body-c select, 
.ui-body-c textarea, 
.ui-body-c button,
.ui-btn-text,
.ui-overlay-c { font-family: 'Raleway', sans-serif; font-weight: 100; color: #fff; text-shadow: none; }

.ui-panel-content-wrap.ui-body-c.ui-panel-animate,
.ui-mobile .ui-page { background: #252932; }

.ui-li-heading { font-weight: 300; }
#homepage .ui-header { height: 72px; }
strong, b { font-weight: 300; }

.ui-bar-a {
    border: 0 none;
    background-image: none;
    text-shadow: none;
    background-color: #191c21;
}

.ui-btn-up-c {
    border: 0 none;
    background: #333;
    text-shadow: none;
    background-image: none;
    border-radius: 4px;
}

.ui-bar-c {
    border: 0 none;
    background: #252932;
    font-weight: 100;
    text-shadow: none;
    background-image: none;
    padding: 3%;
}

.ui-btn-up-c:visited, 
.ui-btn-up-c a.ui-link-inherit { color: #FFF; }
.ui-btn-corner-all { -webkit-border-radius: .4em; border-radius: .4em; }
.ui-input-search, div.ui-input-text {
    margin: .5em 0;
    background-image: none;
    background: #252932;
    position: relative;
    border: 1px solid #3BABC4;
}

.ui-btn.ui-btn-icon-right.ui-li-has-arrow.ui-li.ui-btn-hover-c,
.ui-btn.ui-shadow.ui-btn-corner-all.ui-mini.ui-btn-hover-c {
    background-image: none;
    background: #555;
    border: 0 none;
}

.ui-btn.ui-btn-icon-right.ui-li-has-arrow.ui-li.ui-btn-hover-c .ui-li-heading,
.ui-btn.ui-btn-icon-right.ui-li-has-arrow.ui-li.ui-btn-hover-c .ui-li-desc {
    color: #fff;
    text-shadow: none;
}

.ui-bar-c {
    border: 0 none;
    background: #222;
    font-weight: 700;
    text-shadow: none;
    background-image: none;
    padding: 2%;
}

.ui-panel-position-left.ui-panel-display-reveal, .ui-panel-position-left.ui-panel-open {
    background: #1e1e1e;
}

.ui-panel-position-left.ui-panel-display-reveal, 
.ui-panel-position-right.ui-panel-display-reveal, 
.ui-panel-position-left.ui-panel, 
.ui-panel-position-right.ui-panel {
    background: #1e1e1e;
}

.ui-panel-inner {
    text-shadow: none;
    color: #FFF;
}

.ui-btn-inner { color: #fff; border: 0 none; }
.ui-btn-hover-c { text-shadow: none; }

.ui-btn.ui-shadow.ui-btn-corner-all.ui-mini.ui-first-child.ui-btn-up-c,
.ui-btn.ui-shadow.ui-btn-corner-all.ui-mini.ui-first-child.ui-btn-hover-c {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ui-btn.ui-shadow.ui-btn-corner-all.ui-mini.ui-last-child.ui-btn-up-c,
.ui-btn.ui-shadow.ui-btn-corner-all.ui-mini.ui-last-child.ui-btn-hover-c {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ui-btn.ui-shadow.ui-btn-corner-all.ui-mini.ui-btn-icon-left.ui-btn-up-c,
.ui-btn.ui-shadow.ui-btn-corner-all.ui-mini.ui-btn-icon-left.ui-btn-hover-c { border-radius: 4px; }

.ui-li, .ui-li.ui-field-contain { border-color: #555; }
form .ui-body-c input { color: #333; }

/* ICONS */
.ui-icon { background: url(../images/icons.png) no-repeat; width: 41px; height: 41px; display: block; }
.ui-btn-inner { border: 0 none; border-radius: 0; box-shadow: none; text-shadow: none; }
.ui-btn-icon-notext, .ui-btn-icon-notext .ui-btn-inner { height: 41px; width: 41px; }
.ui-btn-up-a { border: 0 none; background: none transparent; text-shadow: none; opacity: .8; }
.ui-bar-a .ui-shadow, .ui-bar-b .ui-shadow, .ui-bar-c .ui-shadow { box-shadow: none; }
.ui-btn-icon-notext .ui-btn-inner .ui-icon { margin: 0; }
.ui-icon-shadow { box-shadow: none; }
.ui-btn-hover-a { background: none transparent; border: 0 none; opacity: 1; }
.ui-icon-bars { background-position: -226px 0; }
.ui-icon-refresh { background-position: -170px 0; }
.ui-icon-delete { background-position: -43px 0; }
.ui-input-search .ui-icon, 
.ui-input-search .ui-btn-icon-notext,
.ui-input-search .ui-btn-icon-notext .ui-btn-inner { width: 30px; height: 30px; }
.ui-input-search .ui-icon-delete { width: 30px; height: 30px; background-size: 284px; }
#site-list .ui-icon { display: none; }
.ui-icon, .ui-icon-searchfield:after { background: none transparent; }

/* SEARCHBAR */
.ui-input-search input.ui-input-text { color: #fff; }


/*-----------
CONTENT
-----------*/
.app-logo { width: 51px; height: 49px; }

.status0 span,
.status1 span,
.status2 span,
.status8 span,
.status9 span {
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 15px;
    color: #fff;
    text-shadow: -0.5px -0.5px 0 #000;
    position: relative;
    top: 3px;
    margin: 5px;
    border: 2px solid;
}

.status0 span,
.status1 span { 
    background-color: #1b65df;
    box-shadow: inset 0 0 5px #5c97f9, 0 0 7px #5c97f9;
    border-color: #5c97f9;
}

.status2 span {
    background-color: #70a423;
    box-shadow: inset 0 0 5px #a1df46, 0 0 7px #a1df46;
    border-color: #a1df46;
}

.status8 span {
    background-color: #df931b;
    box-shadow: inset 0 0 5px #f9bb43, 0 0 7px #f9bb43;
    border-color: #f9bb43;
}

.status9 span {
    background-color: #ed5012;
    box-shadow: inset 0 0 5px #ff8352, 0 0 7px #ff8352;
    border-color: #ff8352;
}

.status-icon-wrap,
.version-icon-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}

.status-icon0,
.status-icon1,
.status-icon2,
.status-icon8,
.status-icon9,
.version-icon {
    padding: 9px 3px;
    font-size: 22px;
    border-radius: 26px;
    color: #FFF;
    text-shadow: -0.5px -0.5px 0 #000;
    margin: 0 auto;
    width: 32%;
    border: 4px solid;
    display: block;
    max-width: 200px;
    text-align: center;
    font-weight: bold;
    min-width: 110px;
}

.status-icon0,
.status-icon1,
.version-icon { 
    background-color: #1b65df;
    box-shadow: inset 0 0 10px #5c97f9, 0 0 14px #5c97f9;
    border-color: #5c97f9;
}

.status-icon1,
.version-icon { font-size: 15px; }

.status-icon2 {
    background-color: #70a423;
    box-shadow: inset 0 0 10px #a1df46, 0 0 14px #a1df46;
    border-color: #a1df46;
}

.status-icon8 {
    background-color: #df931b;
    box-shadow: inset 0 0 10px #f9bb43, 0 0 14px #f9bb43;
    border-color: #f9bb43;
    font-size: 13px;
    padding: 9px 5px;
}

.status-icon9 {
    background-color: #ed5012;
    box-shadow: inset 0 0 10px #ff8352, 0 0 14px #ff8352;
    border-color: #ff8352;
}

.ui-li-aside { height: 22px; padding: 5px; }

.infotext {
    color: #bbb;
    font-style: italic;
    text-align: center;
    font-size: 12px;
}

.filled {
    font-weight: 400;
    background-color: #383838;
    color: #fff;
    padding: 10px;
    text-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 5px;
}

.label {
    text-shadow: none;
    color: #ccc;
    font-size: 13px;
    margin-bottom: 5px;
}

.ui-li-desc { font-weight: 100; }

/*-----------
SIDEBAR
-----------*/
#new-monitor-form {
    margin-top: 40px;
}


/*-----------
FOOTER
-----------*/
#last-update {
    text-align: center;
    font-size: 12px;
    color: #666;
    font-style: italic;
}

.footer-container {
    padding: 2%;
}

#refresh-btn {
    float: left;
}


/*--------------------
CHILD BROWSER PAGE
--------------------*/
.site-title {
    text-align: center;
}